<div class="bg-white border-b border-gray-100 py-3 hidden sm:block">
    <div
        class="container mx-auto px-4 sm:px-6 flex justify-end items-center gap-8 text-xs font-medium text-gray-500 tracking-wide">

        <a href="mailto:kajita.planes@gmail.com" class="flex items-center gap-2 transition-colors hover:text-[#E91E63]">
            <span class="text-base">✉️</span> kajita.planes@gmail.com
        </a>

        <a href="https://wa.me/573170943854" target="_blank"
            class="flex items-center gap-2 transition-colors hover:text-[#25D366]">
            <span class="text-base">📞</span> 3170943854 - 3103348262
        </a>
    </div>
</div>

<header class="bg-white sticky top-0 z-50 shadow-sm md:shadow-none">
    <nav class="container mx-auto px-4 py-6 flex justify-between items-center">

        <div class="text-2xl md:text-3xl font-serif text-[#2D3E50]">KajitA</div>

        <ul class="hidden md:flex items-center gap-10 text-[11px] font-bold uppercase tracking-[0.2em] text-gray-400">

            <li>
                <a routerLink="/" routerLinkActive="text-[#E91E63]" [routerLinkActiveOptions]="{exact: true}"
                    class="transition-all duration-300 hover:text-[#E91E63] cursor-pointer">
                    Inicio
                </a>
            </li>

            <li>
                <a routerLink="/productos" routerLinkActive="text-[#E91E63]"
                    class="transition-all duration-300 hover:text-[#E91E63] cursor-pointer">
                    Productos
                </a>
            </li>

            <li>
                <a routerLink="/sobre-mi" routerLinkActive="text-[#E91E63]"
                    class="transition-all duration-300 hover:text-[#E91E63] cursor-pointer">
                    Sobre mí
                </a>
            </li>

            <li>
                <a routerLink="/contacto" routerLinkActive="text-[#E91E63]"
                    class="transition-all duration-300 hover:text-[#E91E63] cursor-pointer">
                    Contacto
                </a>
            </li>
        </ul>

        <div class="flex items-center gap-4 text-gray-500">
            <div class="flex items-center gap-2 text-sm">
                <span class="hidden sm:inline">Cesta</span>
                <div class="border border-gray-300 p-1 rounded-sm">
                    <span class="text-lg">🛒</span>
                </div>
            </div>
            <button class="md:hidden text-2xl">☰</button>
        </div>
    </nav>
</header>